.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 75px;
  width: 75px;
}
.header__title {
  align-self: center;
}

.header__tour-guide {
  align-self: center;
}
